/* General */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}




/* Utility */

.flex{
  display: flex;
}

.justify_center{
  justify-content: center;
}

.align_center{
  align-items: center;
}

.flex_center_center{
  align-items: center;
  justify-content: center;
}

.container{
  width: 1200px;
  min-height: 20px;
  
}


/* Header */
#header_menu{
  padding: 30px 0;
}


/* header ---> logo */
.navigation_menu .logo {
  width: 40%;
}

.navigation_menu .logo img{
  width: 100px;
}

.navigation_menu .logo a{
  margin-left: 30px;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(75, 75, 75);
}

.navigation_menu .logo :nth-child(2){
  color: black;
}

/* header ---> choise */
.navigation_menu .choise {
  width: 60%;
  justify-content: flex-end;
  position: relative;
}

.navigation_menu .choise li {
  list-style: none;
  margin-left: 30px;
  position: relative;
}

.navigation_menu .choise li > a{
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  color: rgb(75, 75, 75);
  
}

.navigation_menu .choise button{
  padding: 10px 20px;
  margin-left: 20px;
  border-radius: 20px;
  border: 0;
  outline: none;
  cursor: pointer;
  background: #EB008E;
  color: white;
}

.navigation_menu .choise button:hover{
  box-shadow: 0 0 2px rgba(0, 150, 175, 0.726); 
  
}

.navigation_menu .choise .drop_down{
  display: none;
  position: absolute;
  flex-direction: column;
  flex-wrap: nowrap;
  left: -10px;
  top: 25px;
  padding: 10px 10px;
  box-shadow: 0 0 2px rgba(209, 150, 175, 0.726); 
}

.navigation_menu .choise .drop_down a{
  padding: 5px  0;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  color: rgb(75, 75, 75);
  white-space: nowrap;
}







